@page
@model HolidayWallet.Pages.Holidays.IndexModel

@{
    ViewData["Title"] = "Holidays";
}

<h1>Choose Your Holiday Destination</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Holiday[0].Destination)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Holiday) {
        <tr>
            <td>
                 <a asp-page="/Expenses/Create" asp-route-holidayId="@item.Id">@item.Destination</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create">Add New Holiday Destination</a>
</p>
